# NASA Mars News

In [5]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [6]:
from splinter import Browser

In [7]:
!which chromedriver
executable_path = {"executable_path":  "/usr/local/bin/chromedriver"}
browser = Browser('chrome', **executable_path, headless = False)

/usr/local/bin/chromedriver

In [8]:
# NASA Mars News
news_url = 'https://mars.nasa.gov/news'
browser.visit(news_url)
news_html = browser.html

In [9]:
# Create BeautifulSoup Object, and parse with 'html.parser'
soup = BeautifulSoup(news_html, 'html.parser')

In [23]:
#print(soup.prettify())

In [20]:
# Find the lastest news title and news paragraph 
news_info = soup.select_one('ul.item_list li.slide')
news_title = news_info.find('div', class_ = "content_title")
news_title = news_title.text.strip()
news_title

'Perseverance Scientists Train for Mars in Nevada Desert'

In [22]:

news_p = news_info.find(class_ = "rollover_description_inner").text.strip()
news_p

"Team members searched for signs of ancient microscopic life there, just as NASA's latest rover will on the Red Planet next year."

## JPL Mars Space Image

Using splinter to navigate the site and find the image url

In [25]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

In [26]:
image_html = browser.html
soup = BeautifulSoup(image_html, 'html.parser')

In [43]:
#print(soup.prettify())

In [37]:
#partial_image_url = soup.find('section', class_ = 'primary_media_feature').find('a').get('data-fancybox-href')
partial_image_url = soup.find('section', class_ = "primary_media_feature").find('article').get('style')
partial_image_url = partial_image_url.split(sep = "'")[1]
partial_image_url

'/spaceimages/images/wallpaper/PIA18087-1920x1200.jpg'

In [42]:
featured_image_url = image_url.replace("/spaceimages/?search=&category=Mars", partial_image_url)
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18087-1920x1200.jpg'

In [ ]:
## Mars Weather

In [49]:
weather_url = "https://twitter.com/marswxreport?lang=en"

In [50]:
response = requests.get(weather_url)
soup = BeautifulSoup(response.text, "html.parser")

In [203]:
#print(soup.prettify())

In [162]:
mars_weather_list = soup.find('div', class_ = 'js-tweet-text-container')
mars_weather_text = mars_weather_list.text.strip()
mars_weather_text = mars_weather_text.replace('InSight ', '')

In [163]:
mars_weather_split = mars_weather_text.split('\n')
mars_weather_split

['sol 512 (2020-05-05) low -92.9ºC (-135.2ºF) high -3.1ºC (26.4ºF)',
 'winds from the SW at 4.8 m/s (10.7 mph) gusting to 19.2 m/s (42.9 mph)',
 'pressure at 6.80 hPapic.twitter.com/TJRWhGbUMa']

In [164]:
mars_weather_split_1= mars_weather_split[0].split(')')
mars_weather_split_1

['sol 512 (2020-05-05', ' low -92.9ºC (-135.2ºF', ' high -3.1ºC (26.4ºF', '']

In [165]:
mars_weather_split_3 = mars_weather_split[2].split('pic')
mars_weather_split_3[0]

'pressure at 6.80 hPa'

In [167]:
mars_weather = '),'.join(mars_weather_split_1) + ' ' + mars_weather_split_3[0]
mars_weather

'sol 512 (2020-05-05), low -92.9ºC (-135.2ºF), high -3.1ºC (26.4ºF), pressure at 6.80 hPa'

In [ ]:
## Mars Facts

In [9]:
facts_url = 'https://space-facts.com/mars/'

In [10]:
table = pd.read_html(facts_url)

In [11]:
# Slice off any of those dataframes that we want using normal indexing
df = table[0]

df.head(10)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
df.columns = ['Description','Values']
df.set_index('Description', inplace = True)
df.head(10)

                                             Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [16]:
html_table = df.to_html()
html_table
# html_table = df.to_html('table.html')
# !open table.html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
## Mars Hemispheres

In [174]:
hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [199]:
response = requests.get(hemisphere_url)
soup = BeautifulSoup(response.text, 'html.parser')

In [182]:
#print(soup.prettify())

In [200]:
items = soup.find_all('div', class_ = 'item')

hemisphere_image_url=[]
for item in items:
    image_url = hemisphere_url.replace('/search/results?q=hemisphere+enhanced&k1=target&v1=Mars',item.find('img').get('src'))
    title = (item.find('h3').text)
    hemisphere_image_url.append({'title': title, 'img_url': image_url})

In [201]:
pd.DataFrame(hemisphere_image_url)

,title,img_url
0,Cerberus Hemisphere Enhanced,https://astrogeology.usgs.gov/cache/images/dfa...
1,Schiaparelli Hemisphere Enhanced,https://astrogeology.usgs.gov/cache/images/767...
2,Syrtis Major Hemisphere Enhanced,https://astrogeology.usgs.gov/cache/images/aae...
3,Valles Marineris Hemisphere Enhanced,https://astrogeology.usgs.gov/cache/images/040...

In [202]:
#hemisphere_image_urls = pd.DataFrame([{'title': title[0], 'img_url': image_url[0]},
#                         {'title': title[1], 'img_url': image_url[1]},
#                         {'title': title[2], 'img_url': image_url[2]},
#                         {'title': title[3], 'img_url': image_url[3]}])
#hemisphere_image_urls